Arkitektum.Kartverket.MetadataCore/xsd2/xsd/defaultStyle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:smil20="http://www.w3.org/2001/SMIL20/" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/gml" version="3.1.1.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="gml.xsd" />
  <xsd:include schemaLocation="measures.xsd" />
  <xsd:import schemaLocation="http://schemas.opengis.net/gml/3.1.1/smil/smil20.xsd" namespace="http://www.w3.org/2001/SMIL20/" />
  <xsd:annotation>
    <xsd:appinfo source="urn:opengis:specification:gml:schema-defaultStyle:v3.1.0">defaultStyle.xsd</xsd:appinfo>
    <xsd:documentation>
			Default Style schema for GML 3.1.1
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="defaultStyle" type="gml:DefaultStylePropertyType">
    <xsd:annotation>
      <xsd:documentation>Top-level property. Used in application schemas to "attach" the styling information to GML data. The link between the data and the style should be established through this property only.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="DefaultStylePropertyType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] Top-level property. Used in application schemas to "attach" the styling information to GML data. The link between the data and the style should be established through this property only.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="gml:_Style" />
    </xsd:sequence>
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:element abstract="true" name="_Style" substitutionGroup="gml:_GML" type="gml:AbstractStyleType">
    <xsd:annotation>
      <xsd:documentation>The value of the top-level property. It is an abstract element. Used as the head element of the substitution group for extensibility purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AbstractStyleType" abstract="true">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The value of the top-level property. It is an abstract element. Used as the head element of the substitution group for extensibility purposes.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:AbstractGMLType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Style" substitutionGroup="gml:_Style" type="gml:StyleType">
    <xsd:annotation>
      <xsd:documentation>Predefined concrete value of the top-level property. Encapsulates all other styling information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="StyleType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] Predefined concrete value of the top-level property. Encapsulates all other styling information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:AbstractStyleType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" ref="gml:featureStyle" />
          <xsd:element minOccurs="0" ref="gml:graphStyle" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="featureStyle" type="gml:FeatureStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FeatureStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="gml:FeatureStyle" />
    </xsd:sequence>
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:element name="FeatureStyle" substitutionGroup="gml:_GML" type="gml:FeatureStyleType">
    <xsd:annotation>
      <xsd:documentation>The style descriptor for features.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FeatureStyleType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The style descriptor for features.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:AbstractGMLType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="featureConstraint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="gml:geometryStyle" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="gml:topologyStyle" />
          <xsd:element minOccurs="0" ref="gml:labelStyle" />
        </xsd:sequence>
        <xsd:attribute name="featureType" type="xsd:string" use="optional" />
        <xsd:attribute name="baseType" type="xsd:string" use="optional" />
        <xsd:attribute name="queryGrammar" type="gml:QueryGrammarEnumeration" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="QueryGrammarEnumeration">
    <xsd:annotation>
      <xsd:documentation>Used to specify the grammar of the feature query mechanism.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="xpath" />
      <xsd:enumeration value="xquery" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BaseStyleDescriptorType">
    <xsd:annotation>
      <xsd:documentation>Base complex type for geometry, topology, label and graph styles.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:AbstractGMLType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="spatialResolution" type="gml:ScaleType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="styleVariation" type="gml:StyleVariationType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="smil20:animate" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="smil20:animateMotion" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="smil20:animateColor" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="smil20:set" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="geometryStyle" type="gml:GeometryStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GeometryStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="gml:GeometryStyle" />
    </xsd:sequence>
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:element name="GeometryStyle" substitutionGroup="gml:_GML" type="gml:GeometryStyleType">
    <xsd:annotation>
      <xsd:documentation>The style descriptor for geometries of a feature.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GeometryStyleType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The style descriptor for geometries of a feature.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:BaseStyleDescriptorType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element ref="gml:symbol" />
            <xsd:element name="style" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>deprecated</xsd:appinfo>
                <xsd:documentation>Deprecated in GML version 3.1.0. Use symbol with inline content instead.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element minOccurs="0" ref="gml:labelStyle" />
        </xsd:sequence>
        <xsd:attribute name="geometryProperty" type="xsd:string" />
        <xsd:attribute name="geometryType" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="topologyStyle" type="gml:TopologyStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TopologyStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="gml:TopologyStyle" />
    </xsd:sequence>
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:element name="TopologyStyle" substitutionGroup="gml:_GML" type="gml:TopologyStyleType">
    <xsd:annotation>
      <xsd:documentation>The style descriptor for topologies of a feature. Describes individual topology elements styles.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TopologyStyleType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The style descriptor for topologies of a feature. Describes individual topology elements styles.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:BaseStyleDescriptorType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element ref="gml:symbol" />
            <xsd:element name="style" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>deprecated</xsd:appinfo>
                <xsd:documentation>Deprecated in GML version 3.1.0. Use symbol with inline content instead.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element minOccurs="0" ref="gml:labelStyle" />
        </xsd:sequence>
        <xsd:attribute name="topologyProperty" type="xsd:string" />
        <xsd:attribute name="topologyType" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="labelStyle" type="gml:LabelStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="LabelStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="gml:LabelStyle" />
    </xsd:sequence>
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:element name="LabelStyle" substitutionGroup="gml:_GML" type="gml:LabelStyleType">
    <xsd:annotation>
      <xsd:documentation>The style descriptor for labels of a feature, geometry or topology.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="LabelStyleType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The style descriptor for labels of a feature, geometry or topology.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:BaseStyleDescriptorType">
        <xsd:sequence>
          <xsd:element name="style" type="xsd:string" />
          <xsd:element name="label" type="gml:LabelType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="graphStyle" type="gml:GraphStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GraphStylePropertyType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="gml:GraphStyle" />
    </xsd:sequence>
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:element name="GraphStyle" substitutionGroup="gml:_GML" type="gml:GraphStyleType">
    <xsd:annotation>
      <xsd:documentation>The style descriptor for a graph consisting of a number of features. Describes graph-specific style attributes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GraphStyleType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The style descriptor for a graph consisting of a number of features. Describes graph-specific style attributes.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="gml:BaseStyleDescriptorType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="planar" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="directed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="grid" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="minDistance" type="xsd:double" />
          <xsd:element minOccurs="0" name="minAngle" type="xsd:double" />
          <xsd:element minOccurs="0" name="graphType" type="gml:GraphTypeType" />
          <xsd:element minOccurs="0" name="drawingType" type="gml:DrawingTypeType" />
          <xsd:element minOccurs="0" name="lineType" type="gml:LineTypeType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="aestheticCriteria" type="gml:AesheticCriteriaType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="symbol" type="gml:SymbolType">
    <xsd:annotation>
      <xsd:documentation>The symbol property. Extends the gml:AssociationType to allow for remote referencing of symbols.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SymbolType">
    <xsd:annotation>
      <xsd:documentation>[complexType of] The symbol property. Allows for remote referencing of symbols.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
    </xsd:sequence>
    <xsd:attribute name="symbolType" type="gml:SymbolTypeEnumeration" use="required" />
    <xsd:attribute ref="gml:transform" use="optional" />
    <xsd:attribute name="about" type="xsd:anyURI" use="optional" />
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup" />
  </xsd:complexType>
  <xsd:simpleType name="SymbolTypeEnumeration">
    <xsd:annotation>
      <xsd:documentation>Used to specify the type of the symbol used.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="svg" />
      <xsd:enumeration value="xpath" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LabelType" mixed="true">
    <xsd:annotation>
      <xsd:documentation>Label is mixed -- composed of text and XPath expressions used to extract the useful information from the feature.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="LabelExpression" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute ref="gml:transform" use="optional" />
  </xsd:complexType>
  <xsd:attribute name="transform" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>Defines the geometric transformation of entities. There is no particular grammar defined for this value.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:complexType name="StyleVariationType">
    <xsd:annotation>
      <xsd:documentation>Used to vary individual graphic parameters and attributes of the style, symbol or text.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="styleProperty" type="xsd:string" use="required" />
        <xsd:attribute name="featurePropertyRange" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="GraphTypeType">
    <xsd:annotation>
      <xsd:documentation>Graph-specific styling property.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TREE" />
      <xsd:enumeration value="BICONNECTED" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DrawingTypeType">
    <xsd:annotation>
      <xsd:documentation>Graph-specific styling property.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="POLYLINE" />
      <xsd:enumeration value="ORTHOGONAL" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LineTypeType">
    <xsd:annotation>
      <xsd:documentation>Graph-specific styling property.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="STRAIGHT" />
      <xsd:enumeration value="BENT" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AesheticCriteriaType">
    <xsd:annotation>
      <xsd:documentation>Graph-specific styling property.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MIN_CROSSINGS" />
      <xsd:enumeration value="MIN_AREA" />
      <xsd:enumeration value="MIN_BENDS" />
      <xsd:enumeration value="MAX_BENDS" />
      <xsd:enumeration value="UNIFORM_BENDS" />
      <xsd:enumeration value="MIN_SLOPES" />
      <xsd:enumeration value="MIN_EDGE_LENGTH" />
      <xsd:enumeration value="MAX_EDGE_LENGTH" />
      <xsd:enumeration value="UNIFORM_EDGE_LENGTH" />
      <xsd:enumeration value="MAX_ANGULAR_RESOLUTION" />
      <xsd:enumeration value="MIN_ASPECT_RATIO" />
      <xsd:enumeration value="MAX_SYMMETRIES" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>