Arkitektum.Kartverket.MetadataCore/xsd2/xsd/topology.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/gml" version="3.1.1.2" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="gml.xsd" />
  <include schemaLocation="geometryComplexes.xsd" />
  <annotation>
    <appinfo source="urn:opengis:specification:gml:schema-xsd:topology:3.1.1">topology.xsd</appinfo>
    <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
  </annotation>
  <element abstract="true" name="_Topology" substitutionGroup="gml:_GML" type="gml:AbstractTopologyType" />
  <complexType name="AbstractTopologyType" abstract="true">
    <complexContent mixed="false">
      <extension base="gml:AbstractGMLType" />
    </complexContent>
  </complexType>
  <element abstract="true" name="_TopoPrimitive" substitutionGroup="gml:_Topology" type="gml:AbstractTopoPrimitiveType">
    <annotation>
      <documentation>Substitution group branch for Topo Primitives, used by TopoPrimitiveArrayAssociationType</documentation>
    </annotation>
  </element>
  <complexType name="AbstractTopoPrimitiveType" abstract="true">
    <complexContent mixed="false">
      <extension base="gml:AbstractTopologyType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" ref="gml:isolated" />
          <element minOccurs="0" ref="gml:container" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="isolated" type="gml:IsolatedPropertyType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited" xmlns:sch="http://www.ascc.net/xml/schematron">
          <sch:rule context="gml:isolated">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IsolatedPropertyType">
    <choice minOccurs="0">
      <element ref="gml:Node" />
      <element ref="gml:Edge" />
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="container" type="gml:ContainerPropertyType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:containerProperty">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ContainerPropertyType">
    <sequence minOccurs="0">
      <choice>
        <element ref="gml:Face" />
        <element ref="gml:TopoSolid" />
      </choice>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="Node" substitutionGroup="gml:_TopoPrimitive" type="gml:NodeType" />
  <complexType name="NodeType">
    <annotation>
      <documentation>Its optional co-boundary is a set of connected directedEdges.  The orientation of one of these dirEdges is "+" if the Node is the "to" node of the Edge, and "-" if it is the "from" node.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopoPrimitiveType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" ref="gml:directedEdge" />
          <element minOccurs="0" ref="gml:pointProperty" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="directedNode" type="gml:DirectedNodePropertyType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:directedNode">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="DirectedNodePropertyType">
    <sequence minOccurs="0">
      <element ref="gml:Node" />
    </sequence>
    <attribute default="+" name="orientation" type="gml:SignType" />
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="Edge" substitutionGroup="gml:_TopoPrimitive" type="gml:EdgeType" />
  <complexType name="EdgeType">
    <annotation>
      <documentation>There is precisely one positively directed and one negatively directed node in the boundary of every edge. The negatively and positively directed nodes correspond to the start and end nodes respectively. The optional coboundary of an edge is a circular sequence of directed faces which are incident on this edge in document order. Faces which use a particular boundary edge in its positive orientation appear with positive orientation on the coboundary of the same edge. In the 2D case, the orientation of the face on the left of the edge is "+"; the orientation of the face on the right on its right is "-". An edge may optionally be realised by a 1-dimensional (curve) geometric primitive.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopoPrimitiveType">
        <sequence>
          <element minOccurs="2" maxOccurs="2" ref="gml:directedNode" />
          <element minOccurs="0" maxOccurs="unbounded" ref="gml:directedFace" />
          <element minOccurs="0" ref="gml:curveProperty" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="directedEdge" type="gml:DirectedEdgePropertyType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:directedEdge">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="DirectedEdgePropertyType">
    <sequence minOccurs="0">
      <element ref="gml:Edge" />
    </sequence>
    <attribute default="+" name="orientation" type="gml:SignType" />
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="Face" substitutionGroup="gml:_TopoPrimitive" type="gml:FaceType" />
  <complexType name="FaceType">
    <annotation>
      <documentation>. The topological boundary of a face consists of a set of directed edges. Note that all edges associated with a Face, including dangling and interior edges, appear in the boundary.  Dangling and interior edges are each referenced by pairs of directedEdges with opposing orientations.  The optional coboundary of a face is a pair of directed solids which are bounded by this face. If present, there is precisely one positively directed and one negatively directed solid in the coboundary of every face. The positively directed solid corresponds to the solid which lies in the direction of the positively directed normal to the face in any geometric realisation.  A face may optionally be realised by a 2-dimensional (surface) geometric primitive.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopoPrimitiveType">
        <sequence>
          <element maxOccurs="unbounded" ref="gml:directedEdge" />
          <element minOccurs="0" maxOccurs="2" ref="gml:directedTopoSolid" />
          <element minOccurs="0" ref="gml:surfaceProperty" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="directedFace" type="gml:DirectedFacePropertyType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:directedFace">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="DirectedFacePropertyType">
    <sequence minOccurs="0">
      <element ref="gml:Face" />
    </sequence>
    <attribute default="+" name="orientation" type="gml:SignType" />
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="TopoSolid" substitutionGroup="gml:_TopoPrimitive" type="gml:TopoSolidType" />
  <complexType name="TopoSolidType">
    <annotation>
      <documentation>The topological boundary of a TopoSolid consists of a set of directed faces. Note that all faces associated with the TopoSolid, including dangling faces, appear in the boundary. The coboundary of a TopoSolid is empty and hence requires no representation.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopoPrimitiveType">
        <sequence>
          <element maxOccurs="unbounded" ref="gml:directedFace" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="directedTopoSolid" type="gml:DirectedTopoSolidPropertyType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:directedTopoSolid">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="DirectedTopoSolidPropertyType">
    <sequence minOccurs="0">
      <element ref="gml:TopoSolid" />
    </sequence>
    <attribute default="+" name="orientation" type="gml:SignType" />
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="TopoPoint" type="gml:TopoPointType" />
  <complexType name="TopoPointType">
    <annotation>
      <documentation>The intended use of TopoPoint is to appear within a point feature to express the structural and possibly geometric relationships of this point to other features via shared node definitions. Note the orientation assigned to the directedNode has no meaning in this context. It is preserved for symmetry with the types and elements which follow.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopologyType">
        <sequence>
          <element ref="gml:directedNode" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="topoPointProperty" type="gml:TopoPointPropertyType" />
  <complexType name="TopoPointPropertyType">
    <sequence>
      <element ref="gml:TopoPoint" />
    </sequence>
  </complexType>
  <element name="TopoCurve" type="gml:TopoCurveType" />
  <complexType name="TopoCurveType">
    <annotation>
      <documentation>The end Node of each directedEdge of a TopoCurveType
is the start Node of the next directedEdge of the TopoCurveType in document order.  The TopoCurve type and element represent a homogeneous topological expression, a list of directed edges, which if realised are isomorphic to a geometric curve primitive. The intended use of TopoCurve is to appear within a line feature instance to express the structural and geometric relationships of this line to other features via the shared edge definitions.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopologyType">
        <sequence>
          <element maxOccurs="unbounded" ref="gml:directedEdge" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="topoCurveProperty" type="gml:TopoCurvePropertyType" />
  <complexType name="TopoCurvePropertyType">
    <sequence>
      <element ref="gml:TopoCurve" />
    </sequence>
  </complexType>
  <element name="TopoSurface" type="gml:TopoSurfaceType" />
  <complexType name="TopoSurfaceType">
    <annotation>
      <documentation>The TopoSurface type and element represent a homogeneous topological expression, a set of directed faces, which if realised are isomorphic to a geometric surface primitive. The intended use of TopoSurface is to appear within a surface feature instance to express the structural and possibly geometric relationships of this surface to other features via the shared face definitions.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopologyType">
        <sequence>
          <element maxOccurs="unbounded" ref="gml:directedFace" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="topoSurfaceProperty" type="gml:TopoSurfacePropertyType" />
  <complexType name="TopoSurfacePropertyType">
    <sequence>
      <element ref="gml:TopoSurface" />
    </sequence>
  </complexType>
  <element name="TopoVolume" type="gml:TopoVolumeType" />
  <complexType name="TopoVolumeType">
    <annotation>
      <documentation>The TopoVolume type and element represent a homogeneous topological expression, a set of directed TopoSolids, which if realised are isomorphic to a geometric solid primitive. The intended use of TopoVolume is to appear within a 3D solid feature instance to express the structural and geometric relationships of this solid to other features via the shared TopoSolid definitions.  . Note the orientation assigned to the directedSolid has no meaning in three dimensions. It is preserved for symmetry with the preceding types and elements.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopologyType">
        <sequence>
          <element maxOccurs="unbounded" ref="gml:directedTopoSolid" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="topoVolumeProperty" type="gml:TopoVolumePropertyType" />
  <complexType name="TopoVolumePropertyType">
    <sequence>
      <element ref="gml:TopoVolume" />
    </sequence>
  </complexType>
  <element name="TopoComplex" substitutionGroup="gml:_Topology" type="gml:TopoComplexType" />
  <complexType name="TopoComplexType">
    <annotation>
      <documentation>This type represents a TP_Complex capable of holding topological primitives.</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="gml:AbstractTopologyType">
        <sequence>
          <element ref="gml:maximalComplex" />
          <element minOccurs="0" maxOccurs="unbounded" ref="gml:superComplex" />
          <element minOccurs="0" maxOccurs="unbounded" ref="gml:subComplex" />
          <element minOccurs="0" maxOccurs="unbounded" ref="gml:topoPrimitiveMember" />
          <element minOccurs="0" ref="gml:topoPrimitiveMembers" />
        </sequence>
        <attribute default="false" name="isMaximal" type="boolean" />
      </extension>
    </complexContent>
  </complexType>
  <element name="topoComplexProperty" type="gml:TopoComplexMemberType" />
  <element name="subComplex" type="gml:TopoComplexMemberType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:subComplex">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <element name="superComplex" type="gml:TopoComplexMemberType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:superComplex">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <element name="maximalComplex" type="gml:TopoComplexMemberType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:subComplex">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
      <documentation>Need schamatron test here that isMaximal attribute value is true</documentation>
    </annotation>
  </element>
  <complexType name="TopoComplexMemberType">
    <annotation>
      <documentation>This Property can be used to embed a TopoComplex in a feature collection.</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" ref="gml:TopoComplex" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="topoPrimitiveMember" type="gml:TopoPrimitiveMemberType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:topoPrimitiveMember">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TopoPrimitiveMemberType">
    <annotation>
      <documentation>This type supports embedding topological primitives in a TopoComplex.</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" ref="gml:_TopoPrimitive" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <element name="topoPrimitiveMembers" type="gml:TopoPrimitiveArrayAssociationType">
    <annotation>
      <appinfo>
        <sch:pattern name="refAndContent co-occurence prohibited">
          <sch:rule context="gml:topoPrimitiveMember">
            <sch:extends rule="hrefOrContent" />
          </sch:rule>
        </sch:pattern>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TopoPrimitiveArrayAssociationType">
    <annotation>
      <documentation>This type supports embedding an array of topological primitives in a TopoComplex</documentation>
    </annotation>
    <sequence>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element ref="gml:_TopoPrimitive" />
      </choice>
    </sequence>
  </complexType>
</schema>